<section>
	<h2>Docker</h2>
	<img class="logo_squared_big" src="docker/img/docker_logo.png" alt="Docker Logo">
	<h4>Get applications with their dependencies up and running from dev to prod</h4>
</section>
<section>
	<h4>Concepts</h4>
</section>
<section>
	<h5>VM vs Container</h5>
	<img class="left" src="docker/img/VM.jpeg"
		 alt="Container, http://premium.safaribooksonline.de/book/operating-systems-and-server-administration/virtualization/9781492019688/kapitel-1-was-container-sind-und-warum-man-sie-nutzt/ch01lev1sec01_html">
	<img class="right" src="docker/img/container.jpeg"
		 alt="VM, http://premium.safaribooksonline.de/book/operating-systems-and-server-administration/virtualization/9781492019688/kapitel-1-was-container-sind-und-warum-man-sie-nutzt/ch01lev1sec01_html">
	<aside class="notes">
		<p>VM: hypervisor creates and runs VM, control access to host OS and hardware; each VM has an entire OS,
			libs and the app of interest</p>
		<p>Container: container engine uses host kernel, containers share host kernel, layered filesystem provides
			reuse</p>
	</aside>
</section>
<section>
	<h5>Layered filesystem</h5>
	<ul>
		<li>Copy on write strategy</li>
		<li>Pluggable storage drivers</li>
		<li>Each docker daemon uses one storage driver</li>
		<li>Drivers
			<ul>
				<li>AUFS</li>
				<li>Btrfs</li>
				<li>Device mapper</li>
				<li>OverlayFS</li>
				<li>ZFS</li>
			</ul>
		</li>
	</ul>
	<a href="https://docs.docker.com/engine/userguide/storagedriver/imagesandcontainers/"></a>
</section>
<section>
	<h5>Layers</h5>
	<img src="docker/img/sharing-layers.jpg"
		 alt="sharing layers, https://docs.docker.com/engine/userguide/storagedriver/imagesandcontainers/">
	<small><p>FS changes &rarr; layer<br>Container FS changes during runtime &rarr; separate layer<br>Mount
		volumes for permanent storage</p></small>
</section>
<section>
	<h5><a href="https://docs.docker.com/engine/userguide/networking/">Networking</a></h5>
	<ul>
		<li>Host</li>
		<li>Bridged</li>
		<li><a href="https://docs.docker.com/engine/swarm/networking/">Overlay network for swarm mode</a></li>
		<li><a href="https://docs.docker.com/engine/userguide/networking/configure-dns/">Embedded DNS</a> server for service discovery</li>
		<li>
			Security:
			<a href="https://docs.docker.com/engine/userguide/networking/overlay-security-model/">encryption</a>,
			<a href="https://docs.docker.com/engine/userguide/networking/get-started-macvlan/">VLAN</a>
		</li>
	</ul>
</section>
<section>
	<h5>Overlay</h5>
	<img src="docker/img/service-vip.png" alt="overlay network">
	<p>Container to container networking</p>
</section>
<section>
	<h5>Docker, <a href="https://docs.docker.com/compose/overview/">compose</a>,
		<a href="https://docs.docker.com/engine/swarm/">swarm</a>, <a href="https://docs.docker.com/compose/swarm/">combined</a></h5>

	<table>
		<tr>
			<th>command</th>
			<th>focus</th>
		</tr>
		<tr>
			<td>docker</td>
			<td>images, containers, networking</td>
		</tr>
		<tr>
			<td>docker-compose</td>
			<td>ensemble of different containers</td>
		</tr>
		<tr>
			<td>docker swarm</td>
			<td>clustering (multi-node only with <a
				href="https://docs.docker.com/engine/swarm/swarm-tutorial/#use-docker-for-mac-or-docker-for-windows">docker-machine</a> on Mac and Win)
			</td>
		</tr>
	</table>
</section>
<section>
	<h5>Swarm vs Kubernetes</h5>
	<img class="left" src="docker/img/Docker-Swarm-Architecture.png"
		 alt="docker swarm architecture, https://platform9.com/blog/compare-kubernetes-vs-docker-swarm/">
	<img class="right" src="docker/img/Kubernetes-Architecture-Diagram.png"
		 alt="kuberenetes architecture, https://platform9.com/blog/compare-kubernetes-vs-docker-swarm/">
	<aside class="notes">
		See https://platform9.com/blog/compare-kubernetes-vs-docker-swarm/ for more information.
	</aside>
</section>
<section class="scrollable">
	<h5>Swarm vs Kuberenetes ctd.</h5>
	<small><table>
		<tr>
			<th>Criterion</th>
			<th>Swarm</th>
			<th>Kubernetes</th>
		</tr>
		<tr>
			<td>App definition</td>
			<td>Compose apps can be deployed to swarm cluster</td>
			<td>Pods (group of containers that will be on same node), Replication Controllers/Sets, Services,
				Deployments</td>
		</tr>
		<tr>
			<td>Scalability</td>
			<td>Scale individual containers in compose file</td>
			<td>Scale pods manually or automatically</td>
		</tr>
		<tr>
			<td>Availability</td>
			<td>Containers distributed among swarm nodes, manage unhealthy nodes yourself</td>
			<td>Pods distributed among worker nodes, unhealthy pods are managed</td>
		</tr>
		<tr>
			<td>Load balancing</td>
			<td>Pods exposed by service, which can be a load balancer</td>
			<td>Round robin DNS, separate service that handles load balancing, <a
				href="https://github.com/vfarcic/docker-flow-proxy">docker flow proxy</a>
			</td>
		</tr>
		<tr>
			<td>Auto scaling</td>
			<td>No</td>
			<td>Replication Controllers, CPU utilization per pod as metric, others on the way</td>
		</tr>
		<tr>
			<td>Rolling upgrades, rollback</td>
			<td>Delay between service updates on node can be specified</td>
			<td>Deployment model to configure strategies, health checks</td>
		</tr>
		<tr>
			<td>Logging and monitoring</td>
			<td>Manual configuration, external tools</td>
			<td>Health checks, resource usage monitoring</td>
		</tr>
		<tr>
			<td>Storage</td>
			<td>Volumes local by default, plugins for network storage exist, modification requiring temporarily
				removing node from cluster</td>
			<td>Abstractions for backends, storage requests</td>
		</tr>
		<tr>
			<td>Networking</td>
			<td>Overlay networks</td>
			<td><a href="https://github.com/kubernetes/community/blob/master/contributors/design-proposals/networking.md">Networking model</a>:
				container-to-container, pod-to-pod, pod-to-service, external-to-internal</td>
		</tr>
		<tr>
			<td>Service discovery</td>
			<td>DNS, <a href="https://docs.docker.com/swarm/discovery/#docker-swarm-discovery">discovery backends</a></td>
			<td>DNS <a href="https://kubernetes.io/docs/user-guide/services/#discovering-services">cluster add-on</a> watches api for services and configures DNS</td>
		</tr>
		<tr>
			<td>Performance</td>
			<td colspan="2">Tested with 10.000 nodes and 50.000 containers without performance degradation</td>
		</tr>
	</table></small>
	<aside class="notes">
		Tutorial on docker flow proxy can be found at
		https://technologyconversations.com/2016/03/21/docker-flow-proxy-on-demand-haproxy-service-discovery-and-reconfiguration/.
	</aside>
</section>
<section>
	<h5>Kubernetes Web UI</h5>
	<img src="docker/img/kubernetes-ui-dashboard.png" alt="kubernetes web ui">
	<small><p>For production kubernetes is probably more powerful at the moment</p></small>
</section>
<section>
	<h5>Useful commands</h5>
	<pre class="bash" data-trim data-noescape><code>
docker  # show a list of commands
docker info
docker search
docker images
docker run
docker start
docker stop
docker kill
docker ps
docker inspect
docker attach
docker network
    </code></pre>
</section>
<section>
	<h4 class="assignment">Assignment 1/2</h4>
	<p>Containerize example app</p>
	<ul>
		<li>Separate containers for client, webserver, db</li>
		<li>Find out how to get a bash shell for your container to inspect the machine</li>
		<li>Do integration testing</li>
	</ul>
</section>
<section>
	<h4 class="assignment">Assignment 2/2</h4>
	<p>Clusterize example app</p>
	<ul>
		<li>Setup cluster using swarm or kubernetes</li>
		<li>Setup replication factor 2 for webserver and db</li>
		<li>Setup DNS for service discovery and reachability (round robin is ok)</li>
		<li>Test network failure, sabotage one node and test if app is still working</li>
	</ul>
</section>