img.logo {
    border: 0 !important;
    background-color: white !important;
    box-shadow: none !important;
}
img.logo:hover {
    background-color: white !important;
    box-shadow: none !important;
}
.twitter {
    margin-top: -4px !important;
    height: 36px;
    width: 36px;
}

li.empty-list-item {
    list-style-type: none;
}

.assignment::before {
    content: "\270d\00a0"
}

img {
    width: 70%;
    height: 70%;
}

.logo_squared_big {
    width: 30%;
    height: 30%;
}

.left {
    left:-8.33%;
    text-align: left;
    float: left;
    width:50%;
    z-index:-10;
}

.right {
    left:31.25%;
    top: 75px;
    float: right;
    text-align: right;
    z-index:-10;
    width:50%;
}

img.left {
    width: 450px;
    height: 300px;
}

img.right {
    width: 450px;
    height: 300px;
}

.scrollable {
    overflow-y: auto  !important;
    overflow-x: hidden !important;
    height: 600px
}

.scrollable::-webkit-scrollbar *, code::-webkit-scrollbar * {
    background:transparent;
}

.scrollable::-webkit-scrollbar, code::-webkit-scrollbar {
    width: 2px;
}

.scrollable::-webkit-scrollbar-track, code::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scrollable::-webkit-scrollbar-thumb, code::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}