<section>
    <h2>Learning goals</h2>
    <ul>
        <li>Shell provisioning</li>
        <!--<li>Virtualization</li>
        <li class="empty-list-item"><ul>
            <li>Paravirtualization</li>
            <li>Full Virtualization</li>
            <li>Containers</li>
            <ul>
                <li>LXC</li>
                <li>Docker</li>
            </ul>
        </ul></li>-->
    </ul>
</section>
<section>
    <h2>Learning goals</h2>
    <ul>
        <li>Vagrant</li>
        <li class="empty-list-item"><ul>
            <li>Shell</li>
            <li>Puppet</li>
        </ul></li>
        <li>Docker</li>
        <li class="empty-list-item"><ul>
            <li>Shell</li>
            <li>Compose</li>
            <li>Swarm</li>
            <li>Kubernetes</li>
        </ul></li>
    </ul>
</section>
<section>
    <h2>Learning goals</h2>
    <ul>
        <li>Provisioners</li>
        <li class="empty-list-item"><ul>
            <li>Puppet</li>
            <li>(Chef)</li>
            <li>(Ansible)</li>
            <li>(Salt)</li>
        </ul></li>
    </ul>
</section>
<section>
    <h2>Learning goals</h2>
    <ul>
        <li>Cloud platforms</li>
        <li class="empty-list-item"><ul>
            <li>Amazon Webservices</li>
            <li>(Microsoft Azure)</li>
            <li>(Google Cloud Platform)</li>
        </ul></li>
    </ul>
</section>
<section>
    <h2>Learning method</h2>
    <ul>
        <li>Short theory sections</li>
        <li>Junior-senior pairing</li>
        <li>Assignments</li>
        <li>Group research and presentation<br> of advanced topics (if there is<br> still some time left)</li>
    </ul>
    <aside class="notes">
        Group research could be about docker security, lxc, ...
    </aside>
</section>