<section>
    <h2>Definitions</h2>
</section>
<section>
    <h4>Provisioning</h4>
    <blockquote cite="https://www.techopedia.com/definition/4069/provisioning-computing-computing">
        "
        Provisioning provides equipment, software or services to customers, users, employees or IT personnel.
        "
    </blockquote>
    <small>
        <p>We will talk specifically about server provisioning.</p>
    </small>
</section>
<section>
    <h4>Infrastructure as Code</h4>
    <blockquote cite="https://en.wikipedia.org/wiki/Infrastructure_as_Code">
        "
        Infrastructure as Code (IaC) is the process of managing and provisioning computing infrastructure (processes, bare-metal servers, virtual servers, etc.) and their configuration through machine-processable definition files, rather than physical hardware configuration or the use of interactive configuration tools.
        "
    </blockquote>
    <small>
        <p>We will configure infrastructure non-interactively.</p>
    </small>
</section>
<section>
    <h4>Virtualization</h4>
    <blockquote cite="https://en.wikipedia.org/wiki/Virtualization">
        "
        In computing, virtualization refers to the act of creating a virtual (rather than actual) version of something, including virtual computer hardware platforms, storage devices, and computer network resources.
        "
    </blockquote>
    <small>
        <p>We will use virtualization as a means of abstraction from the actual service provider.</p>
    </small>
</section>
<section>
    <h4>Cloud Computing</h4>
    <blockquote cite="http://faculty.winthrop.edu/domanm/csci411/Handouts/NIST.pdf"><small>
        "
        Cloud computing is a model for enabling ubiquitous, convenient, on-demand network access to a shared
        pool of configurable computing resources (e.g., networks, servers, storage, applications, and services) that
        can be rapidly provisioned and released with minimal management effort or service provider interaction.
        "
    </small></blockquote>
    <small>
        <p>We can use the cloud as a convenient and scalable means to get our software running.</p>
    </small>
</section>
<section>
    <h4>DevOps</h4>
    <blockquote cit="https://en.wikipedia.org/wiki/DevOps">
        "
        Emphasizes the collaboration and communication of both software developers and information technology (IT) professionals while automating the process of software delivery and infrastructure changes.
        "
    </blockquote>
    <small>
        <p>It establishes a culture and environment where building, testing, and releasing software can happen rapidly, frequently, and more reliably.</p>
    </small>
</section>