<section>
    <a href="http://www.tngtech.com"><img class="logo" src="../img/tng.svg"></a>
    <h1>Dev Ops</h1>
    <small>
        <h4>
            An introduction to shell programming,<br/>
            provisioning environments and <br/>
            deploying software.
        </h4>
    </small>
    <p>
        <small>
            Created by <a href="mailto:mathias.burger@tngtech.com">Mathias Burger</a>,
            <a href="https://twitter.com/MathiasBurger">
                <img src="../img/Twitter_Logo_Blue.svg" class="twitter logo" alt="Twitter">
                @MathiasBurger
            </a>
        </small>
    </p>
</section>