<section>
	<h2>Cloud provisioning</h2>
</section>
<section>
	<h4>Popular cloud platforms</h4>
	<ul>
		<li>Amazon Webservices</li>
		<li>Microsoft Azure</li>
		<li>Google Cloud Platform</li>
		<li>Heroku</li>
	</ul>
</section>
<section>
	<h4>AWS</h4>
	<img src="provisioning/img/aws-logo.png" alt="Amazon Web Services">
</section>
<section>
	<h4>Terminology and Concepts</h4>
	<ul>
		<li>Region as geographic area</li>
		<li>Availability Zone as isolated location inside region</li>
		<li>Security Groups manage access to ressources on the network</li>
		<li>Resources: instance (machine), loadbalancer, container, vpc (virtual private cloud), rds (relational
			database service), sqs (simple queue service), route53 (dns, routing)</li>
		<li>EC2: elastic compute cloud</li>
		<li>S3: simple storage service</li>
	</ul>
	<aside class="notes">
		See Resource types at https://forge.puppet.com/puppetlabs/aws.
	</aside>
</section>
<section>
	<h4>Terminology and Concepts ctd.</h4>
	<ul>
		<li>Auto Scaling Group for scaling</li>
		<li>Access keys for automated access</li>
		<li>cloud-init commands usually run on first launch</li>
	</ul>
</section>

<section>
	<h4 class="assignment">Assignment 1/3</h4>
	<p>Create one EC2 instance and run the app.</p>
</section>

<section>
	<h4 class="assignment">Assignment 2/3</h4>
	<p>Create two EC2 instances in different availability zones, place a load balancer in front and run the app.</p>
</section>

<section>
	<h4>Puppet and the AWS cloud</h4>
	<ul>
		<li><a href="https://docs.puppet.com/pe/3.3/cloudprovisioner_aws.html">AWS cloud provisioner</a></li>
		<li><a href="https://puppet.com/blog/provision-aws-infrastructure-using-puppet">AWS infrastructure provisioning</a></li>
	</ul>
	<aside class="notes">
		AWS Documentation on puppet can be found at http://docs.aws.amazon.com/quickstart/latest/puppet/deployment.html.
	</aside>
</section>

<section>
	<h4 class="assignment">Assignment 3/3 (advanced)</h4>
	<p>Use puppetlabs AWS module and create EC2 infrastructure</p>
</section>

<section>
	<h2>Infrastructure as Code</h2>
	<p>Try <a href="http://docs.aws.amazon.com/quickstart/latest/puppet/deployment.html">terraform</a> to shape your cloud infrastructure.</p>
</section>