<section>
    <h2>Provisioning</h2>
</section>
<section>
    <h4>Types and tools</h4>
    <ul>
        <li>Network: <a href="https://en.wikipedia.org/wiki/Software-defined_networking">Software Defined Networking</a></li>
        <li>Bare metal: PXE booting, Kickstart (redhat), Fully Automatic Installation, </li>
        <li>Software content: Spacewalk</li>
        <li>Configuration management: puppet, chef, salt, ansible</li>
    </ul>
</section>
<section>
    <h4>Concepts</h4>
    <img src="provisioning/img/imperative-vs-declarative.png"
         alt="imperative vs declarative, https://www.upguard.com/blog/articles/declarative-vs.-imperative-models-for-configuration-management">
</section>
<section>
    <h4>Concepts</h4>
    <table>
        <tr>
            <th>Imperative</th>
            <th>Declarative</th>
        </tr>
        <tr>
            <td>"How"</td>
            <td>"What"</td>
        </tr>
        <tr>
            <td>Detailed steps what to do</td>
            <td>Describe target state, system figures out the rest</td>
        </tr>
        <tr>
            <td>Shell, Chef, Ansible, Salt, (Puppet)</td>
            <td>Salt, Puppet</td>
        </tr>
    </table>
    <aside class="notes">
        <p>Docker is on the imperative side because you describe every single step.</p>
        <p>My recommendation is to go with puppet or salt.</p>
    </aside>
</section>
<section>
    <h4>Puppet</h4>
    <img src="provisioning/img/puppetlabs-logo.png" alt="Puppet labs logo">
    <p>Used in many data centers.</p>
    <p>Puppet Enterprise is free for up to 10 nodes.</p>
</section>
<section>
    <h4>Concepts</h4>
    <ul>
        <li>Manifests as input for puppet</li>
        <li>Facter provides system facts like ip, hostname, etc.</li>
        <li>Hiera for data loading</li>
        <li>Marionette Collective for orchestration</li>
    </ul>
</section>
<section>
    <h4>Terminology</h4>
    <small><table>
        <tr>
            <th>Term</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Puppet master, agent node</td>
            <td>Master controls agent nodes, agent is controlled by master</td>
        </tr>
        <tr>
            <td>Manifest</td>
            <td>Contains instructions, DSL based on Ruby</td>
        </tr>
        <tr>
            <td>Resource</td>
            <td>Declares an element and describes the desired state</td>
        </tr>
        <tr>
            <td>Module</td>
            <td>Collection of manifests and related files that can be shared and reused. Find modules at
                <a href="https://forge.puppet.com/">puppetforge</a>.
            </td>
        </tr>
        <tr>
            <td>Class</td>
            <td>For organization and reuse</td>
        </tr>
        <tr>
            <td>Facts</td>
            <td>System information</td>
        </tr>
        <tr>
            <td>Services</td>
            <td>Can be started, stopped, restarted. Have status changes.</td>
        </tr>
        <tr>
            <td>Templates</td>
            <td>Embedded Ruby (ERB) format, Embedded Puppet (EPP) since 4.0</td>
        </tr>
    </table></small>
</section>
<section>
    <h4><a
        href="https://www.digitalocean.com/community/tutorials/configuration-management-101-writing-puppet-manifests">Manifest 101</a>
    </h4>
    <small><p><em>myapache2/site.pp</em></p></small>
    <pre class="puppet" data-trim data-noescape><code>
$doc_root = "/var/www/example"

exec { 'apt-get update':
 command => '/usr/bin/apt-get update'
}

package { 'apache2':
 ensure  => "installed",
 require => Exec['apt-get update']
}

file { $doc_root:
 ensure => "directory",
 owner => "www-data",
 group => "www-data",
 mode => 644
}

file { "$doc_root/index.html":
   ensure => "present",
   source => "puppet:///modules/myapache2/index.html",
    # loads MODULE_PATH/myapache2/files/index.html
   require => File[$doc_root]
}

file { "/etc/apache2/sites-available/000-default.conf":
   ensure => "present",
   content => template("myapache2/vhost.erb"),
   # loads MODULE_PATH/myapache2/templates/vhost.erb
   notify => Service['apache2'],
   require => Package['apache2']
}

service { 'apache2':
   ensure => running,
   enable => true
}
    </code></pre>
</section>
<section>
    <h4>Manifest 101 - vhost configuration</h4>
    <small><p><em>myapache2/templates/vhost.erb</em></p></small>
    <pre class="xml" data-trim data-noescape><code>
&lt;VirtualHost *:80&gt;
    ServerAdmin webmaster@localhost
    DocumentRoot &lt;%= @doc_root %&gt;

    &lt;Directory &lt;%= @doc_root %&gt;&gt;
        AllowOverride All
        Require all granted
    &lt;/Directory&gt;
&lt;/VirtualHost&gt;
    </code></pre>
    <small><p><a href="https://docs.puppet.com/puppet/4.9/lang_template.html">Template documentation</a></p></small>
</section>
<section>
    <h4>Manifest 101 - html file</h4>
    <small><p><em>myapache2/files/index.html</em></p></small>
    <pre class="html" data-trim data-noescape><code>
Hello world!
    </code></pre>
</section>

<section>
    <h4 class="assignment">Assignment 1/1</h4>
    <p>Provision example app vagrant machines with puppet</p>
    <ul>
        <li>Modify existing vagrant project</li>
        <li>Change provisioning from shell to puppet</li>
        <li>Let puppet provision client, webserver, db</li>
    </ul>
</section>