<section>
    <h2>Vagrant</h2>
    <img class="logo_squared_big" src="vagrant/img/vagrant_logo.png" alt="Vagrant Logo">
    <h4>Build a development environment you can share with your team</h4>
</section>
<section>
    <h4>Why?</h4>
    <blockquote cite="https://www.vagrantup.com/">
        "
        Create a single file for your project to describe the type of machine you want, the software that needs
        to be installed, and the way you want to access the machine. Store this file with your project code.
        "
    </blockquote>
</section>
<section>
    <h4>Tutorial</h4>
    <pre class="bash" data-trim data-noescape><code>
vagrant init ubuntu/yakkety64
vagrant up
    </code></pre>
</section>
<section>
    <h4>Ecosystem</h4>
    <p>
        Get boxes from <a href="https://atlas.hashicorp.com/boxes/search">atlas</a>
    </p>
</section>
<section>
    <h4>Concepts</h4>
    <ul>
        <li>Base image</li>
        <li>Networking
            <ul>
                <li>Port forwarding</li>
                <li>Host-only</li>
                <li>Bridged</li>
            </ul>
        </li>
        <li>Shared folders</li>
    </ul>
</section>
<section>
    <h4>Concepts</h4>
    <ul>
        <li><a href="https://github.com/mitchellh/vagrant/wiki/Available-Vagrant-Plugins#providers">Providers</a>
            <ul>
                <li>VirtualBox</li>
                <li>Hyper-V</li>
                <li>Docker</li>
                <li>VMware</li>
                <li><a href="https://github.com/mitchellh/vagrant-aws">vagrant-aws</a></li>
                <li><a href="https://github.com/vagrant-libvirt/vagrant-libvirt">vagrant-libvirt</a></li>
                <li><a href="https://github.com/fgrehm/vagrant-lxc">vagrant-lxc</a></li>
                <li>...</li>
            </ul>
        </li>
    </ul>
</section>
<section>
    <h4>Concepts</h4>
    <ul>
        <li><a href="https://github.com/mitchellh/vagrant/wiki/Available-Vagrant-Plugins#provisioners">Provisioners</a>
            <ul>
                <li>File</li>
                <li>Shell</li>
                <li>Puppet</li>
                <li>Ansible</li>
                <li>Chef</li>
                <li>Salt</li>
                <li>Docker</li>
                <li><a href="https://github.com/leighmcculloch/vagrant-docker-compose">Docker compose</a></li>
                <li>...</li>
            </ul>
        </li>
    </ul>
</section>
<section>
    <h4 class="assignment">Assignment 1/3</h4>
    <p>Automate VM creation from previous example</p>
    <ul>
        <li>Init vagrant</li>
        <li>Create a box</li>
        <li>Make settings like VM's RAM, monitor on/off configurable</li>
        <li>Use the shell provisioner and reuse previous script</li>
    </ul>
</section>
<section>
    <h4 class="assignment">Assignment 2/3</h4>
    <p>Put client, web and db servers on different machines</p>
    <ul>
        <li>Add VMs</li>
        <li>Setup networking</li>
        <li>Verify using ping, nc (net-tools)</li>
        <li>Start the machine composition and do integration test</li>
    </ul>
</section>
<section>
    <h4 class="assignment">Assignment 3/3 (advanced)</h4>
    <p>Switch provider to Docker or AWS</p>
</section>