<section>
    <h2>Shell Provisioning</h2>
</section>
<section>
    <h5>Advantages</h5>
    <ul>
        <li>No extra skills and software required</li>
        <li>Easily understandable</li>
        <li>Works well when setting up from well defined checkpoint</li>
    </ul>
</section>
<section>
    <h5>Disadvantages</h5>
    <ul>
        <li>Very platform dependent</li>
        <li>Operation idempotence is hard to get</li>
        <li>Not reusable</li>
        <li>Results not always reproducible</li>
        <li>Complicated error handling and logging</li>
    </ul>
</section>
<section>
    <h3>Shell Basics</h3>
</section>
<section>
    <h5>Variables and functions</h5>
    <pre class="bash" data-trim data-noescape><code>
var=value
echo $var
    </code></pre>
    <pre class="bash" data-trim data-noescape><code>
function text {
    # deprecated in favor of POSIX specification
    # http://pubs.opengroup.org/onlinepubs/009695399
    #    /utilities/xcu_chap02.html#tag_02_09_05
    echo "old style function"
}

text2() for i in {1..9}; do echo -n $i; done
text3() (echo "\nPrint me inside subshell")
text4() { echo "Print me inside block"; }

text; text2; text3; text4
    </code></pre>
</section>
<section>
    <h5>Variables in subshell</h5>
    <pre class="bash" data-trim data-noescape><code>
outside="outside subshell"
(
    inner="inside subshell"
    echo $outside
    outside="outside assigned inside subshell"
    echo $outside
)
echo $outside
echo $inner
    </code></pre>
</section>
<section>
    <h5>Variables in functions</h5>
    <pre class="bash" data-trim data-noescape style="font-size:11pt"><code>
outside=blah
fun() {
    outside=blubb
}
fun; echo $outside

fun2() {
    local loc=local
    inside=in
}
fun2; echo $loc; echo $inside

fun4() { echo $loc; echo $inside; }
fun3() {
    local loc=local
    inside=in
    fun4
}
fun3
    </code></pre>
</section>
<section>
    <h5>Export variables</h5>
    <pre class="bash" data-trim data-noescape><code>
local_env="variable in local environment"
export exported_1="exported 1"
declare -x exported_2="exported 2"

echo 'echo $local_env; echo $exported_1; echo $exported_2' \
    > /tmp/bash_example
bash /tmp/bash_example
    </code></pre>
    <aside class="notes">
        Read https://superuser.com/questions/153371/what-does-export-do-in-bash for more details.
    </aside>
</section>
<section>
    <h5>Pass variables after command</h5>
    <pre class="bash" data-trim data-noescape><code>
cat <<'EOF' > /tmp/bash_example
while test $# -gt 0; do
  declare -x $1
  shift
done

echo $foo
EOF

bash /tmp/bash_example foo=bar
    </code></pre>
</section>
<section>
    <h5>How are commands executed?</h5>
    <ul>
        <li>Split command into tokens</li>
        <li>Perform expansions</li>
        <li class="empty-list-item">
            <ul>
                <li>Brace expansion</li>
                <li>Tilde expansion</li>
                <li>Shell parameter and variable expansion</li>
                <li>Command substitution</li>
                <li>Arithmetic expansion</li>
                <li>Process substitution</li>
                <li>Word splitting</li>
                <li>File name expansion</li>
            </ul></li>
        <li>Quote removal</li>
    </ul>
</section>
<section>
    <h5>Brace expansion</h5>
    <pre class="bash" data-trim data-noescape><code>
echo {a,b}{1,2,3}
    </code></pre>
</section>
<section>
    <h5>Tilde expansion</h5>
    <pre class="bash"><code>
echo ~
    </code></pre>
</section>
<section>
    <h5>Shell parameter and variable expansion</h5>
    <pre class="bash" data-trim data-noescape><code>
echo $SHELL
echo ${A:=Default}
    </code></pre>
</section>
<section>
    <h5>Arithmetic expansion</h5>
    <pre class="bash" data-trim data-noescape><code>
echo $((A++))
echo $((A++))
echo $((A++))

echo $(((2**3<<1)-15))

echo $[60*60]
    </code></pre>
</section>
<section>
    <h5>Process substitution</h5>
    <pre class="bash" data-trim data-noescape><code>
diff <(echo ab) <(echo ac)
    </code></pre>
</section>
<section>
    <h5>Word splitting</h5>
    <pre class="bash" data-trim data-noescape><code>
args() {
    printf "%d args:" $#
    printf " <%s>" "$@"
    echo
}

var1="a b c"
var2=/tmp/bash/example

args $var1
IFS=/
args $var2
unset IFS
    </code></pre>
</section>
<section>
    <h5>Filename expansion</h5>
    <pre class="bash" data-trim data-noescape><code>
echo *
echo .*
echo /tm?
    </code></pre>
</section>
<section>
    <h5>Combined</h5>
    <pre class="bash" data-trim data-noescape><code>
# without word splitting, brace and tilde expansion
hundred=100
diff \
    <(echo \
        /$(printf "\x$(printf %x $[$hundred+(4<<2)])")m?) \
    <(echo /tm*)
    </code></pre>
    <pre class="bash" data-trim data-noescape><code>
# with brace and tilde expansion
echo {~,}/tmp
    </code></pre>
</section>
<!-- TODO shell error handling -->
<!-- TODO how to stop immediately, also when problems in pipe or subshell -->
<section>
    <h5>Error handling</h5>
    <pre class="bash" data-trim data-noescape><code>
cat <<'EOF' > /tmp/bash_example
#!/usr/bin/env bash
set -u  # exit when using unitialized variable
set -e  # exit when a command has non zero exit code

false || { echo "failed"; exit 1; }  # because you cannot check $? anymore
echo "this will not be executed"
EOF
bash /tmp/bash_example
    </code></pre>
    <aside class="notes">
        See http://www.davidpashley.com/articles/writing-robust-shell-scripts/#id2382181 for robust shell programming.
    </aside>
</section>
<!-- TODO does not work on my mac <section>
    <h5>Error handling when using pipes</h5>
    <pre class="bash" data-trim data-noescape><code>
cat <<'EOF' > /tmp/bash_example
#!/usr/bin/env bash
set +o pipefail
false || true
echo $?
EOF
bash /tmp/bash_example

cat <<'EOF' > /tmp/bash_example
#!/usr/bin/env bash
set -o pipefail
false || true
echo $?
EOF
bash /tmp/bash_example
    </code></pre>
</section> -->
<section>
    <h5>Avoid quoting errors</h5>
    <pre class="bash" data-trim data-noescape><code>
if [ "$filename" = "could contain spaces" ]; then echo "$filename"; fi
for i in "$@"; do echo $i; done  # because an argument "ab cd" ef would be expanded to 3 words otherwise
    </code></pre>
</section>
<section>
    <h5>Setup traps to handle signals</h5>
    <pre class="bash" data-trim data-noescape><code>
cat <<'EOF' > /tmp/bash_example
#!/usr/bin/env bash

error_handler() {
    local parent_lineno="$1"
    local message="$2"
    local exit_code="${3:-1}"
    if [[ -n "$message" ]] ; then
        echo "Error on or near line ${parent_lineno}: ${message}; exiting with status ${code}"
    else
        echo "Error on or near line ${parent_lineno}; exiting with status ${code}"
    fi
    exit "$exit_code"
}
trap 'error_handler ${LINENO}' ERR

false || true  # no problem
true && false  # fails
EOF
bash /tmp/bash_example
    </code></pre>
</section>
<section>
    <h3>Package manager basics</h3>
</section>
<section>
    <h5>Debian based systems</h5>
    <ul>
        <li>Aptitude</li>
        <li>Gracefully manages .deb packages</li>
        <li>Compatible with rpm</li>
    </ul>
    <aside class="notes">
        For difference between apt-get and aptitude see http://www.tecmint.com/difference-between-apt-and-aptitude/.
    </aside>
</section>
<section>
    <h4 class="assignment">Assignment: Fortune cookie server</h4>
    <img src="fortunecookieapp/simple_app_setup.jpg">
</section>
<section>
    <h4 class="assignment">Assignment 1/4</h4>
    <p>Perform an unattended installation of mysql:</p>
    <ul>
        <li>Update package information</li>
        <li>Install mysql</li>
        <li>With root passwort "mysql_pwd"</li>
        <li>Without any prompts being made</li>
        <li>Suppressing progress output</li>
        <li>Use default config files when no local changes exist</li>
        <li>Preserve configs that have local changes</li>
        <li>Insert fortune cookies into DB.</li>
    </ul>
    <aside class="notes">
        <p>
            See http://www.microhowto.info/howto/perform_an_unattended_installation_of_a_debian_package.html for an example.
        </p>
        <p>
            Installation scripts should be put under version control (i.e. git).
        </p>
    </aside>
</section>
<section>
    <h4 class="assignment">Assignment 2/4</h4>
    <p>Perform an unattended installation of apache2:</p>
    <ul>
        <li>Install</li>
        <li>Create 2 vhost configurations</li>
        <li>Enable mod_proxy_wstunnel</li>
    </ul>
</section>
<section>
    <h4 class="assignment">Assignment 3/4</h4>
    <p>Write a WebSocket fortune cookie server</p>
    <ul>
        <li>Use JS/npm</li>
        <li>Use ws for websockets</li>
        <li>Use mysqljs for db connection</li>
        <li>Create a separate user under which the backend app runs</li>
        <li>Write a test client that can be used to test installation after deployed</li>
    </ul>
    <aside class="notes">
        <p>websockets/ws: https://github.com/websockets/ws</p>
        <p>mysqljs/mysql: https://github.com/mysqljs/mysql</p>
    </aside>
</section>
<section>
    <h4 class="assignment">Assignment 4/4</h4>
    <p>Perform an unattended installation of nodejs and deploy the echo server:</p>
    <ul>
        <li>Install nodejs</li>
        <li>Automate deployment of echo server</li>
        <li>Integrationtest the setup with your local client</li>
    </ul>
</section>
